.venv
.idea
.coverage
coverage.xml
htmlcov

bin
build
dist
include
lib
.Python
RELEASE-VERSION
*.egg-info
*.egg
*.eggs
*.komodoproject
*.esproj
*.pyc
*.bak

*.log
*.sql
*.sqlite

.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
